<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="StandAloneTest">
    <classes>
      <class name="com.practicepom.StandAloneTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="ErrorValidationTest">
    <classes>
      <class name="com.practicepom.ErrorValidation"/>
    </classes>
  </test>
  
  
  
</suite> <!-- Suite -->
